body {
	background: url(http://img13.deviantart.net/091a/i/2012/299/3/9/background__clouds__2__by_mascarathecat-d5izi0s.png);
}

.container_wraparound{
	width: 60vw;
	margin: 0 auto;
	background-color: red;
	height: 100%;
	display: flex;
	flex-direction: column;
}

header{
	flex-basis: 10vh;
	background-color: lightskyblue;

}
header nav a{
	text-decoration: none;
}

nav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
	padding: 15px;
}

nav a{
	flex-basis: 10vw;
}

#container_homepage{
	flex-basis: 80vh;

	background-color: yellow;
}

#container_homepage1{
	display: flex;
	flex-direction: row;
}
#myProjects{
	flex-basis: 20vw;
	background-color: white;
	height: 100vh;
	border: 2px solid lightskyblue;
	background-color: #A2E3E9;

}
#myProjects ul{
	border:3px solid grey;
	list-style-type: none;
}
#myProjects li{
	margin-left: -2vw;
	margin-top: 2vh;
}
#myProjects li:hover{

}

#container_homepage2{
	background-color: white;
	flex-basis: 80vw;
	height: 100vh;
	border: 2px solid lightskyblue;
	background-color: lightcyan;
}

#container_homepage2_wrapper{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#container_homepage2_wrapper img{
	flex-basis: 27vh;
	max-width: 15vw;
	margin-left: 350px;
	margin-top:90px;
	border: 2px solid black;
}

#container_homepage2_wrapper h1{
	flex-basis: 10vh;
}

#container_homepage2_Lorem{
	flex-basis: 60vh;
	margin-right: 30px;
}
footer{
	background-color: lightskyblue;
	flex-basis: 20vh;
}
.project1{
	display: none;

}
.elem1:hover .project1{

	display: block;
	position: relative;
  left: 200px;
  border: 3px solid #73AD21;

}
